// Widget
.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}

.widget__message {
  text-align: center;
  color: $off-white;
  padding: $l-size;
  margin: 0;
  border-bottom: 1px solid lighten($light-blue, 10%);
}

// Widget header
.widget-header {
  background: $blue;
  color: $off-white;
  display: flex;
  justify-content: space-between; // All the space is distriputed between h3 and Remove All
  padding: $m-size;
}

.widget-header__title {
  margin: 0;
}
